# ======================
# Flutter / Dart
# ======================
.dart_tool/
.packages
.pub/
build/
coverage/
*.log

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# ======================
# Android
# ======================
android/.gradle/
android/local.properties
android/key.properties
**/keystore.jks
**/*.keystore
android/app/debug/
android/app/profile/
android/app/release/

# If you use Firebase, you typically COMMIT google-services.json
# android/app/google-services.json

# ======================
# iOS / Xcode
# ======================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Xcode user data
ios/**/*.xcuserdata/
ios/**/*.xcuserstate
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3
ios/**/DerivedData/

# ======================
# Secrets / Env
# ======================
.env
.env.*
*.pem
*.p12
*.cer
*.crt
*.key
secrets/

flutter_*.log
*.log

